* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

:root{
    --primairy: #E00359;
    --secondairy: #FA5A87;

    /*menuVariables*/
    --menuButtonDisplay: none;
    --lineDisplay: none;
}

.nav-list {
    display: block;
    width: 100%;
    height: 7rem;
    text-align: center;
    position: fixed;
    background-color: var(--primairy);
    transform: translateX(-100%);
    z-index: 100;
}

.line1, .line2, .line3 {
    display: var(--lineDisplay);
    background-color: white;
    width: 25px;
    height: 3px;
    margin: 5px;
}

img.logo{
    display: block;
    margin: auto;
    padding: 1rem 0;
}

ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding-bottom: 1rem;
}

a:visited, a{
    color: white;
    text-decoration: none;
}

a.intern{
    color: blue;
}

header{
    background: linear-gradient(var(--primairy), var(--secondairy));
}

main{
    background-color: white;
    border-radius: 6px;
    margin: 20px;
}

h1{
    margin-bottom: 1rem;
}

select{
    width: 100%;
    padding: 10px 0;
    margin-bottom: 1rem;
}

input[type="submit"]{
    margin-top: 2rem;
    background: linear-gradient(var(--primairy), var(--secondairy));
    color: white;
    padding: 1rem;
    font-weight: bold;
    border: none;
    width: 100%;
}

p{
    margin-bottom: 2rem;
}

.invoer-veld{
    position: relative;
    height: 50px;
    overflow: hidden;
    margin-bottom: 1rem;
}

.invoer-veld input{
    width: 100%;
    height: 100%;
    color: black;
    padding-top: 20px;
    border: none;
    outline: none;
}

.invoer-veld label{
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}

.invoer-veld label::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid var(--primairy);
    transform: translateX(-100%);
    transition: all 0.3s ease;
}

.content-name{
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}

.invoer-veld input:focus + .label-name .content-name,
.invoer-veld input:valid + .label-name .content-name{
    transform: translateY(-110%);
    font-size: 14px;
    color: var(--primairy);
}

.invoer-veld input:focus + .label-name::after, .invoer-veld input:valid + .label-name::after{
    transform: translateX(0%);
}

.hamburger{
    display: var(--menuButtonDisplay);
    position: fixed;
    cursor: pointer;
    top: 0.8rem;
    left: 0.8rem;
}

@media screen and (min-width: 1000px) {
    body{
        font-family: 'poppins';
    }
    main{
        width: 30%;
    }
}